---
const today = new Date();
---

<footer>
	<div class="footer-content">
		&copy; {today.getFullYear()} Rapid Liquid. All rights reserved.
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-family: 'M PLUS 1p', sans-serif;
	}
	.footer-content {
		max-width: 720px;
		margin: 0 auto;
	}
</style>
